@{
	this.ViewData["Title"] = "Home";
}
	

@model CreatePost



<div class = "body-content">
		<h2>Hi @Context.Session.GetString("CurrentUser"),</h2>
		<h3>Welcome to Forum1</h3>
		<img src="~/images/Forum1.png"/>
		<p>Welcome to the Ancients!</p>
	</div>

</>

