<h1 style="margin-left:620px"><b>Copyright Notice</b></h1>
<br />

<p style="margin-left:50px;margin-left:90px">&copy; 2022 Poodle E-Learning Platform. All rights reserved.</p>
                                       
<h4 style="margin-left:50px;margin-left:90px"><b>Statement/Declaration of Rights</b></h4>
                                       
<p style="margin-left:50px;margin-left:90px">Subject to the provisions of this notice, this website and all its content, information, or material is the copyright of Poodle E-Learning Platform, together with its licensors. Accordingly, your use of our website or its services does not constitute any license to use the copyright in our website.</p>
                                       
<p style="margin-left:50px;margin-left:90px">Except to the extent permitted by the applicable copyright law or Poodle E-Learning Platform, any form of use, reproduction, or redistribution of part of all of the content, information, or material on this website in any form is hereby prohibited.</p>
                                       
<p style="margin-left:50px;margin-left:90px">You may not, except otherwise with prior permission and express written consent by the Poodle E-Learning Platform, copy, download, print, extract, exploit, adapt, edit, modify, republish, reproduce, rebroadcast, duplicate, distribute, or publicly display any of the content, information, or material on this website for non-personal or commercial purposes, except for any other use as permitted by the applicable copyright law.</p>
                                       
<p style="margin-left:50px;margin-left:90px">You may also not transmit, host, or store any such content, information, or material in any form or through any means, including but not limited to photocopying, recording, or in any print, electronic or digital form, or on any other website.</p>
                                       
<p style="margin-left:50px;margin-left:90px">However, you are permitted to copy the content, information, or material on this website for personal use, educational use of individual third parties, government use, or any other use permitted under the applicable copyright law while acknowledging this author Poodle E-Learning Platform as the source of any such content, information, or material.</p>
                                       
<p style="margin-left:50px;margin-left:90px">Subject to our terms &amp; conditions, you are not permitted to post information or add content copyrighted by third parties. Pursuant to the Digital Millennium Copyright Act (DMCA), Poodle E-Learning Platform will respond to takedown notices or abuse reports by copyright owners to remove any abusive or infringing content on this website.</p>
                                       
<p style="margin-left:50px;margin-left:90px">Poodle E-Learning Platform will not be responsible for the quality, accuracy, completeness, or appropriateness of the content, information, or material on this website.</p>