@{
	this.ViewData["Title"] = "Comment";
	this.ViewData["Action"] = "Comment";
	this.ViewData["SubmitButton"] = "Comment";
}

@model CommentDto 

<h2>Comment the post</h2>

<partial name = "_CommentForm" />

