<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Forum - About</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/home/index" class="nav">Home</a> | <a href="/posts/index" class="nav">Beers</a> | <a href="/home/about" class="nav">About</a>
            </h3>
        </div>
    </header>
