@{
	this.ViewData["Title"] = "Users";
	
}

@model UserDto

<div>
	<a asp-controller = "Users" asp-action="Update" class="btn-primary">Update user</a>
	<a asp-controller = "Users" asp-action="Create" class="btn-primary">Create photo</a>
</div>

